/* Header */
.floating-btn .top {
    display: none;
}

@media screen and (max-width: 1200px) {
    .m-header-wrap .m-header .m-menu svg {
        fill: rgb(30, 202, 211);
    }
}

/* Main */
.main-wrap{
    width: 100%;
}

.cart-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 70px 0 200px;
    text-align: center;
}


.cart-container .cart-title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(30, 202, 211);
    text-align: center;
}

.cart-container .cart-subtitle {
    position: relative;
    top: -6px;
    padding-bottom: 48px;
}

