/* Experience-btn */
.experience-btn-wrap {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    z-index: 30;
}

.experience-btn {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.experience-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 35px;
    font-size: 28px;
    line-height: 1.3;
    color: rgb(255,255,255);
    text-align: center;
    background-color: rgb(30, 202, 211);
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 768px) {
    .experience-btn a {
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
    }
    .floating-btn {
        bottom: 70px;
    }
}

/* Nav */
.nav-menu-container .menu-box .menu-list a span {
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    padding: 12px 0;
    color: rgb(30, 202, 211);
    border-bottom: 1px solid rgb(30, 202, 211);
}

/* Main */

.main-wrap {
    width: 100%;
}

/* Visual-1 */
.visual-1-wrap {
    width: 100%;
}

.visual-1-wrap .visual-1 {
    background-image: url("../j-img/cae195eaad8be.jpg");
    background-position: 50% 50%;
}

.visual-1-text-wrap {
    width: 100%;
}

.visual-1-text-area {
    max-width: 1200px;
    height: 1001px;
    margin: 0 auto;
    padding: 220px 7px 0;
}

.visual-1-text-area img {
    display: block;
    width: 288px;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .visual-1-wrap .visual-1 {
        background-image: url("../j-img/7a5736c9ae9a4.jpg");
    }
    .visual-1-text-area {
        height: 630px;
        padding: 50px 20px 0;
    }
    .visual-1-text-area img {
        display: block;
        width: 120px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 768px) {
    .visual-1-wrap .visual-1 {
        background-image: url("../j-img/5040b2e3ee63d.jpg");
    }
}

/* Visual-2 */
.visual-2-wrap {
    width: 100%;
}

.visual-2-wrap .visual-2 {
    background-image: url("../j-img/1b16455966561.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;/*배경 뷰포트에 고정, 스크롤시 움직이지 않음*/
}

.visual-2-text-wrap {
    width: 100%;
}

.visual-2-text-area {
    max-width: 1200px;
    margin: 0 auto;
    height: 843px;
    padding: 123px;
}

.visual-2-text-area img:first-child {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: 404px;
}

.visual-2-text-area img:last-child {
    display: none;
}

@media screen and (max-width: 991px) {
    .visual-2-wrap .visual-2 {
        background-image: url("../j-img/7f7f9d95f16c3.jpg");
        background-attachment: inherit;
    }
    .visual-2-text-area {
        padding: 96px 0 335px;
        height: auto;
    }

    .visual-2-text-area img:first-child {
        display: none;
    }

    .visual-2-text-area img:last-child {
        display: block;
        width: 243px;
        margin: 5px auto;
    }
}

/* Visual-3 */
.visual-3-wrap {
    width: 100%;
}

.visual-3-wrap .visual-3 {
    background-image: url("../j-img/d5737138d0795.png");
    background-position: center center;
    background-size: 1920px;
}

.visual-3-text-wrap {
    width: 100%;
}

.visual-3-text-area {
    max-width: 1200px;
    margin: 0 auto;
    height: 866px;
    padding: 180px 0 150px;
    font-size: 26px;
    text-align: center;
}

.visual-3-text-area p:first-child {
    font-size: 30px;
}

.visual-3-text-area p {
    padding-bottom: 40px;
}
.visual-3-text-area p:last-child {
    padding-bottom: 0;
}

.visual-3-text-area span {
    color: rgb(30, 202, 211);
    font-weight: 700;
}

@media screen and (max-width: 991px) {
    .visual-3-text-area {
        height: 1031px;
        padding: 180px 15px 0;
        
    }
}

@media screen and (max-width: 768px) {
    .visual-3-wrap .visual-3 {
        background-image: url("../j-img/f2ee9adbdb889.png");
        background-size: cover;
    }
    .visual-3-text-area {
        height: auto;
        font-size: 17px;
        padding: 90px 15px 75px;
    }
    .visual-3-text-area p:first-child {
        font-size: 20px;
    }
    .visual-3-text-area p {
        padding-bottom: 20px;
    }
    .visual-3-text-area p:nth-child(4) {
        padding-top: 20px;
    }

}

/* Visual-4 */
.visual-4-wrap {
    width: 100%;
}

.visual-4 {
    overflow: hidden;
}

.visual-4 .video-m {
    display: none;
}

.visual-4 video {
    width: 100%;
}

@media screen and (max-width: 480px) and (min-width: 10px) {
    .visual-4 .video-web {
        display: none;
    }
    .visual-4 .video-m {
        display: block;
    }
}

/* Visual-5 */
.visual-5-wrap {
    width: 100%;
}

.visual-5-text-wrap {
    width: 100%;
}

.visual-5-text-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 70px;
    text-align: center;
}

.quiz-img {
    max-width: 608px;
    margin: 0 auto;
    height: 326px;
    background-image: url("../j-img/ff642596fd72b.png");
    padding-top: 120px;
}

.quiz-img .quiz-title p:first-child {
    font-size: 26px;
}

.quiz-img .quiz-title p:last-child {
    font-size: 56px;
}

.quiz-text {
    max-width: 750px;
    margin: 0 auto;
    height: 160px;
    font-size: 30px;
    line-height: 140%;
    color: rgb(255,255,255);
    background-color: rgb(30, 202, 211);
    padding-top: 35px;
    border-radius: 80px;
}

@media screen and (max-width: 768px) {
    .visual-5-text-area {
        padding: 50px 0 35px;
    }
    .quiz-img {
        max-width: 300px;
        height: 161px;
        padding-top: 50px;
    }
    .quiz-img .quiz-title p:first-child {
        font-size: 17px;
    }
    .quiz-img .quiz-title p:last-child {
        font-size: 30px;
    }
    .quiz-text {
        max-width: 340px;
        height: 80px;
        font-size: 16px;
        padding-top: 20px;
    }
}

/* Visual-6 */
.visual-6-wrap {
    width: 100%;
}

.visual-6-text-wrap {
    width: 100%;
}

.visual-6-text-area {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: rgb(30, 202, 211);
    display: flex;
}

.quiz-video {
    position: relative;
    width: 58.33333333%;
    overflow: hidden;
    border: 30px solid rgb(30, 202, 211);
}

.quiz-video img {
    height: 383.086px;
    margin-left: -20.4444px;
}

.quiz-video .show-btn {
    display: flex;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(33,33,33,.75);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.quiz-box {
    width: 41.66666667%;
    text-align: center;
    color: rgb(255,255,255);
    padding-top: 68px;
    padding-right: 56px;
}

.quiz-box .hint {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-box .hint img {
    width: 58px;
    max-width: 100%;
}

.quiz-box .hint span {
    font-size: 30px;
    padding-left: 20px;
}

.quiz-box .hint-desc {
    padding-top: 20px;
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .quiz-video {
        display: none;
    }
    .visual-6-text-area {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .quiz-box {
        width: 100%;
        padding: 40px 0 25px;
    }
    .quiz-box .hint img {
        width: 25px;
        margin: 5px 0;
    }
    .quiz-box .hint span {
        padding-left: 10px;
    }
    .quiz-box .hint-desc {
        padding-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .quiz-box {
        padding-top: 60px;
    }
    .quiz-box .hint span {
        font-size: 20px;
    }
    .quiz-box .hint-desc {
        font-size: 14px;
    }
}

/* Visual-7 */
.visual-7-wrap {
    width: 100%;
}

.visual-7 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.visual-7-title {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.visual-7-title p:first-child {
    font-size: 56px;
    line-height: 125%;
    color: rgb(30, 202, 211);
}

.visual-7-title p:last-child {
    font-size: 26px;
    padding-top: 30px;
}

.present-list {
    text-align: center;
}

.present-list li {
    display: inline-block;
    max-width: 33.3vw;
    padding: 0 20px;

}

.present-list img {
    width: 316px;
    max-width: 100%;
}

.present-list .present-text img {
    width: 160px;
    margin: 5px auto;
}

.present-list.down {
    padding-bottom: 100px;
}

.present-img-all {
    display: none;
}

@media screen and (max-width: 991px) {
    .visual-7-title {
        padding-bottom: 30px;
    }
    .visual-7 ul {
        display: none;
    }
    .present-img-all {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .visual-7 {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .visual-7-title p:first-child {
        font-size: 30px;
    }
    .visual-7-title p:last-child {
        font-size: 17px;
    }
}

/* Present-line */
.present-line-wrap {
    width: 100%;
    height: 78px;
    padding: 0 160px;
}

.present-line-box {
    width: 100%;
    border-bottom: 3px solid rgb(30, 202, 211);
    text-align: center;
}

.present-line-box img {
    position: relative;
    top: 45px;
    width: 182px;
}

@media screen and (max-width: 991px) {
    .present-line-wrap {
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .present-line-wrap {
        height: auto;
    }
    .present-line-box img {
        top: 25px;
        width: 120px;
    }
}

/* Visual-8 */
.visual-8-wrap {
    width: 100%;
}

.visual-8 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.visual-8-text {
    width: 100%;
    padding: 100px 0 50px;
}

.visual-8-text p:first-child {
    font-size: 56px;
    padding-bottom: 35px;
}

.visual-8-text img {
    width: 436px;
    margin: 5px atuo;
}

.visual-8-text p:last-child {
    font-size: 26px;
    padding-top: 30px;
}

@media screen and (max-width: 991px) {
    .visual-8-text {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .visual-8-text {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .visual-8-text p:first-child {
        font-size: 30px;
        padding-bottom: 17.5px;
    }
    .visual-8-text img {
        width: 220px;
    }
    .visual-8-text p:last-child {
        font-size: 17px;
        padding-top: 15px;
    }
}

/* House-1 */
.circle-line-wrap {
    width: 100%;
}

.circle-line {
    max-width: 1200px;
    margin: 0 auto;
    height: 155px;
}

.circle-box {
    position: relative;
    top: 75px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    color: rgb(255,255,255);
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-box p {
    font-size: 24px;
    font-weight: bold;
}

.house-wrap {
    width: 100%;
}

.house.first {
    background-image: url("../j-img/8ca16c813045f.jpg");
    background-position: 50% 50%;
}

.house-text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 170px 0 700px;
    text-align: center;
}

.house-text img {
    display: inline-block;
    width: 521px;
    margin: 5px auto;
}

.house-img-box {
    width: 100%;
    padding: 45px 120px 0;
}

.house-img-list {
    width: 100%;
    height: auto;
    display: flex;
}

.house-img-item {
    width: 25%;
    padding: 7.5px;
    overflow: hidden;
}

.house-img-list li:first-child {
    padding-left: 0;
}

.house-img-list li:last-child {
    padding-right: 0;
}

.house-img-item .house-img {
    min-height: 539px;
    background-position: center;
}

.house-img-item .item-desc {
    width: 100%;
    height: 88px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: rgb(84, 87, 89);
}

.house-sktech-wrap {
    width: 100%;
}

.house-sktech {
    width: 100%;
    padding: 0 30px;
}

.house-sktech-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 120px;
    display: flex;
}

.house-sktech-box img {
    width: 50%;
}

.house-sktech-box .sktech-desc {
    width: 50%;
    margin-left: 30px;
    padding-top: 100px;
    text-align: center;
}

.house-sktech-box .sktech-desc p {
    font-size: 24px;
    padding-bottom: 40px;
}

.house-sktech-box .sktech-desc a {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 25px 80px;
    border-radius: 50px;
}

.slick-dots {
    display: none;
}

/* House-second */
.house.second {
    background-image: url("../j-img/4ed16890f4f9d.jpg");
    background-position: 50% 50%;
}

/* House-third */
.house.third {
    background-image: url("../j-img/681600f4f163e.jpg");
    background-position: 50% 50%;
}

@media screen and (max-width: 1200px) {
    .house-img-box {
        padding-right: 0;
        padding-left: 0;
    }
    .house-img-item {
        padding: 15px;
    }
    .house-img-item .house-img {
        min-height: 370px;
    }
    .house-text {
        padding: 100px 0 400px;
    }
    .house-text img {
        width: 260px;
    }
}

@media screen and (max-width: 991px) {
    .circle-line {
        padding: 0 15px;
    }
    .house-img-box {
        padding: 30px 0 ;
        overflow: hidden;
    }
    .house-img-list {
        width: 8600px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .house-img-item {
        width: 1060px;
    }
    .house-img-item .house-img {
        min-height: 1375px;
        height: 1375px;
    }
    .house-sktech {
        padding: 0 15px;
    }
    .house-sktech img {
        width: 750px;
        margin: auto 193px;
    }
    .house-sktech-box {
        display: block;
        text-align: center;
    }
    .house-sktech-box .sktech-desc {
        max-width: 100%;
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .house-sktech-box .sktech-desc a {
        margin-bottom: 10px;
    }
    .house.first {
        background-image: url("../j-img/1fb88ed67b07f.jpg");
    }
    .house.second {
        background-image: url("../j-img/5d06094aa2b7a.jpg");
    }
    .house.third {
        background-image: url("../j-img/ce1810ccebe98.jpg");
    }
}

@media screen and (max-width: 768px) {
    .circle-line {
        height: auto;
    }
    .circle-box {
        top: 40px;
        width: 80px;
        height: 80px;
    }
    .circle-box img {
        width: 45px;
    }
    .circle-box p {
        font-size: 14px;
    }
    .house-img-list {
        width: 6784px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .house-img-item {
        width: 838px;
    }
    .house-img-item .house-img {
        min-height: 1078px;
        height: 1078px;
    }
    .house-sktech-box {
        padding: 20px 0 45px;
    }
    .house-sktech img {
        width: 300px;
        margin: auto 62px;
    }
    .house-sktech-box .sktech-desc {
        padding-top: 25px;
    }
    .house-sktech-box .sktech-desc p {
        font-size: 15px;
        padding-bottom: 35px;
    }
    .house-sktech-box .sktech-desc a {
        width: 260px;
        font-size: 18px;
        padding: 13px 20px;
    }
}

@media screen and (max-width: 480px) and (min-width: 10px) {
    .house-img-list {
        width: 3400px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .house-img-item {
        width: 415px;
    }
    .house-img-item .house-img {
        min-height: 514px;
        height: 514px;
    }
}

/* Trip */
.trip-wrap {
    width: 100%;
}

.present {
    max-width: 1200px;
    margin: 0 auto;
}

.present-box {
    padding: 100px 0;
    text-align: center;
}

.present-box img {
    display: inline-block;
    width: 420px;
    margin: 5px auto;
    padding-bottom: 50px;
}

.present-img {
    width: 100%;
    padding: 75px 130px 155px;
}

.present-img-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.present-img-list .present-img-box {
    position: relative;
    width: 33.3333%;
    padding: 0 30px;
}

.present-img-list .circle-box {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
}

.present-img-list .circle-box img {
    margin-bottom: 5px;
}

.present-img-list .circle-box p {
    font-size: 18px;
}

.present-slide-container {
    width: 100%;
    min-height: 651px;
}

.present-slide-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.present-slide-list {
    position: relative;
    left: 0;
    width: 4482px;
    display: flex;
    transition: left .3s;
}

.present-slide-list .present-slide {
    width: 498px;
    min-height: 651px;
    background-size: cover;
    background-position: center center;
}

.present-desc {
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: rgb(246, 246, 247);
}

.present-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.present-nav span:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-size: 65px;
    color: rgb(255,255,255);
    z-index: 5000;
    cursor: pointer;
}

.xi-angle-left-thin:before {
    left: 5px;
}

.xi-angle-right-thin:before {
    right: 5px;
}

.rent-info {
    width: 50%;
    margin: 0 auto;
    padding: 24px;
    background-color: rgb(204, 245, 247);
}

.rent-info p {
    padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .present-box {
        padding: 100px 15px;
    }
    .present-img {
        padding-right: 0;
        padding-left: 0;
    }
    .present-slide-container {
        min-height: 480px;
    }
    .present-slide-box .present-slide {
        min-height: 480px;
        background-size: contain;
    }
}

@media screen and (max-width: 991px) {
	.rent-info {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
	.present-box {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .present-box p:first-child {
        font-size: 30px;
        padding-bottom: 17.5px;
    }
    .present-box img {
        padding-bottom: 25px;
    }
    .present-box .present-info {
        font-size: 17px;
    }
    .rent-info p:first-child {
        font-size: 14px;
        padding-bottom: 0;
    }
    .present-box .rent-img {
        width: 160px;
    }
    .present-box .air-img {
        width: 220px;
    }
}

/* Event-info */
.event-info-wrap {
    width: 100%;
}

.event-info {
    max-width: 1200px;
    margin: 0 auto;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .event-info {
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .event-info {
        height: auto;
        padding: 15px;
    }
    .event-info p {
        font-size: 20px;
    }
}

/* Apply */
.apply-wrap {
    width: 100%;
}

.apply {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0 150px;
    text-align: center;
}

.apply .apply-title {
    padding-bottom: 54px;
    border-bottom: 4px solid rgb(255,255,255);
}

.apply .apply-title p {
    line-height: 130%;
}

.apply-box {
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid rgb(255,255,255);
}

/* table 레이아웃 적용 */
.apply-box table {
    width: 100%;
    max-width: 100%;
    table-layout: auto;
}

.apply-box .first-cell {
    width: 21%;/*첫번째 셀값을 고정하면 다음 셀값은 자동으로 설정됨*/
}

.apply-box table td {
    padding: 8px;
    text-align: left;
    vertical-align: top;/*직접 셀에 적용해야 위치 변경됨*/
}

.apply .add-info {
    width: 100%;
    padding: 30px 15px 0;
    line-height: 1.8;
    text-align: left;
}

@media screen and (max-width: 991px) {
    .apply {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .apply {
        max-width: 800px;
        margin: 0 auto;
        padding: 50px 15px 78px;
        text-align: center;
    }
    .apply .apply-title p {
        font-size: 30px;
    }
    .apply-box {
        padding: 20px 0;
        font-size: 15px;
    }
    .apply-box .first-cell {
        width: 34%;
    }
    .apply .add-info {
        padding: 15px 15px 0;
        font-size: 14px;
    }
}

/* Q&A */
.qa-wrap {
    width: 100%;
}

.qa {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0 150px;
}

.qa .qa-title {
    font-weight: 900;
    text-align: center;
    padding-bottom: 19px;
    border-bottom: 4px solid rgb(30, 202, 211);
}

.qa-list-item {
    width: 100%;
    padding: 25px 15px;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(30, 202, 211);
}

.qa-list-item span {
    display: inline-block;
}

.qa-list-item .item-title {
    font-size: 20px;
    line-height: 220%;
}

.qa-list-item .item-r {
    padding-left: 10px;
}

.qa-list-item .answer span:first-child {
    vertical-align: top;
    line-height: inherit;
}

.qa-list-item .answer span:last-child {
    padding: 3px 0 10px 10.33px;
}

@media screen and (max-width: 991px) {
    .qa {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .qa {
        padding: 50px 15px 75px;
    }
    .qa .qa-title {
        font-size: 38px;
        padding-bottom: 7.5px;
    }
    .qa-list-item,
    .qa-list-item .item-title {
        font-size: 14px;
    }
}

/* Social */
.social-wrap {
    width: 100%;
}

.social {
    max-width: 1200px;
    margin: 0 auto;
    padding: 160px 0 216px;
    text-align: center;
}

.social p {
    line-height: 140%;
    padding-bottom: 60px;
}

.social .social-btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .social-btn-list li~li {
    margin-left: 40px;
}

.social .social-btn-list button {
    width: 80px;
    height: 80px;
    border: none;
    background: rgb(61,70,75) 50% 50% no-repeat;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
}

.social .social-btn-list .kakao {
    background-image: url("../j-img/button-sns-talk.png");
}

.social .social-btn-list .facebook {
    background-image: url("../j-img/button-sns-face.png");
}

.social .social-btn-list .url {
    background-image: url("../j-img/button-sns-url.png");
}

@media screen and (max-width: 991px) {
    .social {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .social {
        padding: 120px 15px 108px;
    }
    .social p {
        font-size: 22px;
        padding-bottom: 30px;
    }
    .social .social-btn-list button {
        width: 60px;
        height: 60px;
    }
    .social .social-btn-list li~li {
        margin-left: 20px;
    }
}

/* Visual-9 */
.visual-9-wrap {
    width: 100%;
}

.visual-9-wrap .visual-9 {
    background-image: url("../j-img/dd41a9358ca50.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;/*배경 뷰포트에 고정, 스크롤시 움직이지 않음*/
}

.visual-9-text-wrap {
    width: 100%;
}

.visual-9-text-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 0 275px;
}

.visual-9-text-area img {
    max-width: 100%;
    margin: 5px auto;
}

.visual-9-text-area .visual-9-web {
    display: block;
    width: 1015px;
}

.visual-9-text-area .visual-9-m {
    display: none;
    width: 282px;
}

@media screen and (max-width: 991px) {
    .visual-9-text-area {
        padding-top: 110px;
    }
	.visual-9-wrap .visual-9 {
        background-attachment: inherit;
    }

    .visual-9-text-area .visual-9-web {
        display: none;
    }

    .visual-9-text-area .visual-9-m {
        display: block;
    }
}

/* Covid */
.covid-wrap {
    width: 100%;
}

.covid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 150px;
    text-align: center;
    color: rgb(255,255,255);
}

.covid img {
    display: block;
    width: 120px;
    max-width: 100%;
    margin: 5px auto;
}

.covid .covid-title {
    line-height: 140%;
    font-weight: bold;
    padding-top: 25px;
}

.covid .covid-desc {
    padding-top: 25px;
}

@media screen and (max-width: 991px) {
    .covid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .covid {
        padding: 50px 15px 75px;
    }
    .covid .covid-title {
        font-size: 17px;
    }
    .covid .covid-desc {
        font-size: 14px;
    }
}

/* Support */
.support-wrap {
    width: 100%;
}

.support-text-box {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.support-text-box p:last-child {
    font-weight: bold;
    padding-top: 25px;
}

.support-group {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 120px;
}

.support-group .group-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-group .group-list li {
    width: 200px;
    padding: 0 25px;
}

.support-group .group-list li:nth-child(1),
.support-group .group-list li:nth-child(5) {
    width: 200px;
}

.support-group .group-list li:nth-child(2),
.support-group .group-list li:nth-child(4) {
    width: 170px;
}

.support-group .group-list li:nth-child(3){
    width: 260px;
}

.support-group .group-list li:nth-child(6){
    width: 180px;
}

.support-group .group-list li:nth-child(7),
.support-group .group-list li:nth-child(8) {
    width: 150px;
}

.support-group .group-list li img {
    max-width: 100%;
    margin: 5px auto;
}

@media screen and (max-width: 991px) {
    .support-text-box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .support-group {
        padding-right: 32px;
        padding-left: 32px;
    }
    .support-group .group-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .support-text-box {
        padding: 50px 15px 0;
    }
    .support-text-box p:first-child {
        font-size: 15px;
    }
    .support-text-box p:last-child {
        font-size: 17px;
    }
    .support-group {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .support-group .group-list li {
        width: 145px;
        padding: 0 10px;
    }
    .support-group .group-list li:nth-child(1),
    .support-group .group-list li:nth-child(5) {
        width: 105px;
    }

    .support-group .group-list li:nth-child(2),
    .support-group .group-list li:nth-child(4) {
        width: 90px;
    }

    .support-group .group-list li:nth-child(3){
        width: 145px;
    }

    .support-group .group-list li:nth-child(6){
        width: 95px;
    }

    .support-group .group-list li:nth-child(7),
    .support-group .group-list li:nth-child(8) {
        width: 80px;
    }
}

@media screen and (max-width: 480px) and (min-width: 10px) {
    .support-group {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Archive */
.archive-wrap {
    width: 100%;
}

.archive {
    width: 100%;
    padding: 80px 160px 120px;
    color: rgb(255,255,255);
}

.archive .archive-title {
    text-align: center;
}

.archive .archive-title img {
    max-width: 100%;
    margin: 5px auto;
}

.archive .archive-title p:nth-child(2) {
    line-height: 120%;
    padding-top: 15px;
}

.archive .archive-title p:last-child {
    line-height: 120%;
    font-weight: 900;
    padding-bottom: 40px;
}

.archive-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.archive-container .gallary-list {
    display: flex;
    width: 4848px;
}

/* 이동할 슬라이드 */
.archive-container .gallary-list li {
    width: 404px;
    padding: 15px;
}

.archive-container .gallary-list li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
}

.archive-container .gallary-list .gallary-img  {
    min-height: 374px;
    height: 374px;
}

.archive-container .gallary-list .gallary-text {
    position: relative;
    top: -5px;
    padding: 10px;
    text-align: center;
}

.archive-container .gallary-list .gallary-text p {
    font-size: 22px;
    line-height: 150%;
}

@media screen and (max-width: 1200px) {
    .archive {
        padding-right: 0;
        padding-left: 0;
    }
    .archive-container .gallary-list {
        width: 3696px;
    }
    .archive-container .gallary-list li {
        width: 308px;
    }
    .archive-container .gallary-list .gallary-img  {
        min-height: 278px;
        height: 278px;
    }
}

@media screen and (max-width: 991px) {
    .archive-container .gallary-list {
        width: 3576px;
    }
    .archive-container .gallary-list li {
        width: 588px;
        flex-shrink: 0;
    }

    .archive-container .gallary-list .gallary-img  {
        min-height: 568px;
        height: 568px;
        image-rendering: auto;
    }
}

@media screen and (max-width: 768px) {
    .archive {
        padding: 40px 15px 60px;
    }
    .archive .archive-title img {
        max-width: 90px;
    }
    .archive .archive-title p:nth-child(2) {
        font-size: 24px;
        padding-top: 15px;
    }
    .archive .archive-title p:last-child {
        font-size: 36px;
        padding-bottom: 20px;
    }
    .archive-container .gallary-list {
        width: 3576px;
    }
    .archive-container .gallary-list li {
        width: 447px;
    }
    .archive-container .gallary-list .gallary-img  {
        min-height: 416px;
        height: 416px;
    }
    .archive-container .gallary-list .gallary-text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) and (min-width: 10px) {
    .archive-container .gallary-list {
        width: 1880px;
    }
    .archive-container .gallary-list li {
        width: 235px;
    }
    .archive-container .gallary-list .gallary-img  {
        min-height: 205px;
        height: 205px;
    }
}