
/* Nav */
.header-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background-color: transparent;
}

.nav-menu-container .menu-box .menu-list {
    border-bottom: 1px solid rgb(255,255,255);
}

.gnb .right .account li a,
.nav-menu-container .menu-box .menu-list a {
    color: rgb(255,255,255);
}

.gnb .right .account li a:hover,
.nav-menu-container .menu-box .menu-list a:hover,
.nav-menu-container .menu-box .menu-list a span:hover {
    color: rgba(255,255,255, 0.5);
}

@media screen and (max-width: 1200px) {
    .m-header-wrap {
        z-index: 2000;
    }
}

/* Main */
.main-wrap {
    max-width: 100%;
}

.slide-container {
    position: relative;
    top: 0;
    left: 0;
    height: 937px;
}

.slide-container .slide-list {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}
/* 이동하는 각각 슬라이드 */
.slide-container .slide-list .slide { 
    position: absolute;
    top: 0;
    left: 0;
    width: 1903px;
    height: 48.8vw;
    min-height: 100vh;
    z-index: 998;
    transition: opacity 1s;
}

.slide-container .slide-list .slide video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 150vh;
}

.slide-container .slide-list .slide .slide-m {
    display: none;
}

.slide-container .slide-list a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 20;
}

.slide-list .slide dl {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.slide-list .slide dl dt {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
}

.slide-list .slide dl dd {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.15;
    margin-top: 12px;
}

.slide-list .slide dl br {
    display: none;
}

.slide-container button {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 48px;
    margin-top: -24px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 1000;
}

#prev {
    left: 30px;
    background-image: url('../j-img/main-arrow-left.png');
    
}

#next {
    right: 30px;
    background-image: url('../j-img/main-arrow-right.png');
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1000;
}

.slick-dots .slick-slide {
    margin: 0 5px;
}

.slick-dots .slick-slide span {
    display: block;
    font-size: 0;
    width: 30px;
    height: 2px;
    margin: 0 5px;
    background-color: rgb(255,255,255);
    opacity: .4;
}

@media screen and (max-width: 1200px) {
    .slide-container {
        height: 828px;
    }
    .slide-container .slide-list .slide { 
        width: 1200px;
        min-height: 100vh;
    }
}

@media screen and (max-width: 768px) {
    .slide-container {
        height: 936px;
    }
    .slide-container .slide-list .slide { 
        width: 905px;
    }
}

@media screen and (max-width: 480px) and (min-width: 10px) {
    .slide-container .slide-list .slide { 
        width: 463px;
    }
    .slide-container .slide-list .slide video {
        min-width: 65vh;
    }
    .slide-container .slide-list .slide .slide-web {
        display: none;
    }
    .slide-container .slide-list .slide .slide-m {
        display: block;
    }
    .slick-dots .slick-slide span {
        width: 15px;
    }
    .slide-container button {
        width: 15px;
        height: 29px;
        margin-top: -18px;
    }
    #prev {
        left: 15px;
    }
    #next {
        right: 15px;
    }
    .slide-list .slide dl {
        padding-bottom: 48px;
    }
    .slide-list .slide dl dt {
        font-size: 14px;
    }
    .slide-list .slide dl dd {
        font-size: 23px;
        margin-top: 18px;
        padding-top: 3px;
    }
}



